In [21]:
# Practical 7 - 

import pandas as pd
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv('students.csv')
print(df)

         SAP_ID     Name   Age            Course      Fees Date_of_Joining
0   40315000001   Ashika  22.0  Computer Science   55000.0      2020-09-01
1   40315000002    Shrey  23.0          Commerce   48000.0      2019-06-15
2   40315000003     Vyom  21.0        Psychology   51000.0      2021-01-10
3   40315000004  Sufiyan  24.0         Chemistry   60000.0      2018-08-20
4   40315000005  Shonali  22.0              Arts   53000.0      2022-02-18
5   40315000006   Aquila  23.0  Computer Science       NaN      2020-11-05
6   40315000007  Hufriya  22.0          Commerce   62000.0      2017-03-25
7   40315000008    Hasti   NaN        Psychology   57000.0      2019-12-31
8   40315000009   Paarth  24.0         Chemistry   58000.0      2021-07-14
9   40315000010   Simran  23.0              Arts   60000.0      2020-04-10
10  40315000011     Jeet  21.0  Computer Science   65000.0      2023-01-20
11  40315000012    Mayin  23.0          Commerce       NaN      2022-10-05
12  40315000013   Justin  25.0        Psychology   70000.0      2018-05-30
13  40315000014   Janavi  22.0         Chemistry   75000.0      2020-12-12
14  40315000015   Gaurav  23.0              Arts   80000.0      2019-11-11
15  40315000016    Aryan  21.0  Computer Science   82000.0      2021-09-09
16  40315000017    Rudra  24.0          Commerce       NaN      2022-03-03
17  40315000018   Kapish  22.0               NaN   85000.0      2023-05-05
18  40315000019   Dhruvi  23.0        Psychology   87000.0      2021-04-25
19  40315000020    Kavya  24.0         Chemistry   90000.0      2020-02-20
20  40315000021  Vaibhav  22.0              Arts   95000.0      2019-07-07
21  40315000022    Rajat  23.0  Computer Science  100000.0      2021-08-08
22  40315000023    Keyur  25.0          Commerce  105000.0      2022-01-15
23  40315000024   Ashwin  22.0        Psychology  110000.0      2018-10-10
24  40315000025  Kashish  23.0         Chemistry  115000.0      2020-06-06
25  40315000026    Adiba  21.0              Arts  120000.0      2019-03-03
26  40315000027    Amaan  24.0  Computer Science  130000.0      2021-05-15
27  40315000028    Aditi  22.0          Commerce  135000.0      2023-04-04
28  40315000029   Arushi   NaN        Psychology  140000.0      2022-12-12
29  40315000001   Anurag  22.0  Computer Science   55000.0      2020-09-01

In [22]:
df['Date_of_Joining'] = pd.to_datetime(df['Date_of_Joining'], format='%Y-%m-%d', errors='coerce')
df.fillna({'Fees': df['Fees'].mean(), 'Age': df['Age'].median(), 'Course': df['Course'].mode()[0]}, inplace=True)
print("Handled missing values")

Handled missing values

In [23]:
print("Duplicate rows:")
print(df[df.duplicated()])

Duplicate rows:
Empty DataFrame
Columns: [SAP_ID, Name, Age, Course, Fees, Date_of_Joining]
Index: []

In [24]:
df['SAP_ID'] = df['SAP_ID'].astype(str)

In [26]:
mean_fees = df['Fees'].mean()
std_fees = df['Fees'].std()
print(f"Average fees: {mean_fees}")
print(f"Standard Deviation of fees: {std_fees}")

Average fees: 83074.07407407407
Standard Deviation of fees: 26492.583120728046

In [35]:
df['score'] = (df['Fees'] - mean_fees) / std_fees
outliers = df[df['score'] > 3]
print("Outliers:")
print(outliers)

Outliers:
Empty DataFrame
Columns: [SAP_ID, Name, Age, Course, Fees, Date_of_Joining, score]
Index: []

In [36]:
print(f"Courses with fees > 1L: {df.loc[df['Fees'] > 100000, 'Course'].unique()}\n")

Courses with fees > 1L: ['Commerce' 'Psychology' 'Chemistry' 'Arts' 'Computer Science']

In [37]:
print(df.describe(include='all'))

             SAP_ID    Name        Age            Course           Fees  \
count            30      30  30.000000                30      30.000000
unique           29      30        NaN                 5            NaN
top     40315000001  Ashika        NaN  Computer Science            NaN
freq              2       1        NaN                 8            NaN
mean            NaN     NaN  22.733333               NaN   83074.074074
min             NaN     NaN  21.000000               NaN   48000.000000
25%             NaN     NaN  22.000000               NaN   60000.000000
50%             NaN     NaN  23.000000               NaN   82537.037037
75%             NaN     NaN  23.000000               NaN   98750.000000
max             NaN     NaN  25.000000               NaN  140000.000000
std             NaN     NaN   1.112107               NaN   26492.583121

            Date_of_Joining         score
count                    30  3.000000e+01
unique                  NaN           NaN
top                     NaN           NaN
freq                    NaN           NaN
mean    2020-11-03 05:36:00  1.480297e-17
min     2017-03-25 00:00:00 -1.323921e+00
25%     2019-11-23 12:00:00 -8.709635e-01
50%     2020-11-23 12:00:00 -2.027122e-02
75%     2021-12-14 00:00:00  5.917100e-01
max     2023-05-05 00:00:00  2.148750e+00
std                     NaN  1.000000e+00

In [38]:
print("Missing Values in each column:")
print(df.isnull().sum())

Missing Values in each column:
SAP_ID             0
Name               0
Age                0
Course             0
Fees               0
Date_of_Joining    0
score              0
dtype: int64

In [40]:
print("Number of outliers:", len(outliers))

Number of outliers: 0

In [41]:
le = LabelEncoder()
df['Course_encoded'] = le.fit_transform(df['Course'].astype(str))
print("Mapping of Course to numeric codes:")
print(df[['Course', 'Course_encoded']].drop_duplicates().sort_values('Course_encoded'))

Mapping of Course to numeric codes:
             Course  Course_encoded
4              Arts               0
3         Chemistry               1
1          Commerce               2
0  Computer Science               3
2        Psychology               4

In [42]:
print(df)

         SAP_ID     Name   Age            Course           Fees  \
0   40315000001   Ashika  22.0  Computer Science   55000.000000
1   40315000002    Shrey  23.0          Commerce   48000.000000
2   40315000003     Vyom  21.0        Psychology   51000.000000
3   40315000004  Sufiyan  24.0         Chemistry   60000.000000
4   40315000005  Shonali  22.0              Arts   53000.000000
5   40315000006   Aquila  23.0  Computer Science   83074.074074
6   40315000007  Hufriya  22.0          Commerce   62000.000000
7   40315000008    Hasti  23.0        Psychology   57000.000000
8   40315000009   Paarth  24.0         Chemistry   58000.000000
9   40315000010   Simran  23.0              Arts   60000.000000
10  40315000011     Jeet  21.0  Computer Science   65000.000000
11  40315000012    Mayin  23.0          Commerce   83074.074074
12  40315000013   Justin  25.0        Psychology   70000.000000
13  40315000014   Janavi  22.0         Chemistry   75000.000000
14  40315000015   Gaurav  23.0              Arts   80000.000000
15  40315000016    Aryan  21.0  Computer Science   82000.000000
16  40315000017    Rudra  24.0          Commerce   83074.074074
17  40315000018   Kapish  22.0  Computer Science   85000.000000
18  40315000019   Dhruvi  23.0        Psychology   87000.000000
19  40315000020    Kavya  24.0         Chemistry   90000.000000
20  40315000021  Vaibhav  22.0              Arts   95000.000000
21  40315000022    Rajat  23.0  Computer Science  100000.000000
22  40315000023    Keyur  25.0          Commerce  105000.000000
23  40315000024   Ashwin  22.0        Psychology  110000.000000
24  40315000025  Kashish  23.0         Chemistry  115000.000000
25  40315000026    Adiba  21.0              Arts  120000.000000
26  40315000027    Amaan  24.0  Computer Science  130000.000000
27  40315000028    Aditi  22.0          Commerce  135000.000000
28  40315000029   Arushi  23.0        Psychology  140000.000000
29  40315000001   Anurag  22.0  Computer Science   55000.000000

   Date_of_Joining     score  Course_encoded
0       2020-09-01 -1.059696               3
1       2019-06-15 -1.323921               2
2       2021-01-10 -1.210681               4
3       2018-08-20 -0.870964               1
4       2022-02-18 -1.135188               0
5       2020-11-05  0.000000               3
6       2017-03-25 -0.795471               2
7       2019-12-31 -0.984203               4
8       2021-07-14 -0.946456               1
9       2020-04-10 -0.870964               0
10      2023-01-20 -0.682231               3
11      2022-10-05  0.000000               2
12      2018-05-30 -0.493499               4
13      2020-12-12 -0.304767               1
14      2019-11-11 -0.116035               0
15      2021-09-09 -0.040542               3
16      2022-03-03  0.000000               2
17      2023-05-05  0.072697               3
18      2021-04-25  0.148190               4
19      2020-02-20  0.261429               1
20      2019-07-07  0.450161               0
21      2021-08-08  0.638893               3
22      2022-01-15  0.827625               2
23      2018-10-10  1.016357               4
24      2020-06-06  1.205089               1
25      2019-03-03  1.393821               0
26      2021-05-15  1.771285               3
27      2023-04-04  1.960017               2
28      2022-12-12  2.148750               4
29      2020-09-01 -1.059696               3

In [45]:
# Dataset 2

df = pd.read_csv('employees.csv')
print(df)

         SAP_ID     Name   Age  Experience         Skills  Tenure    Salary  \
0   40315000001   Ashika  30.0         5.0         Python       3   75000.0
1   40315000002    Shrey  28.0         3.0           Java       2   65000.0
2   40315000003     Vyom  35.0        10.0            SQL       8  120000.0
3   40315000004  Sufiyan  40.0        15.0          Excel      10  110000.0
4   40315000005  Shonali  32.0         7.0            C++       4   90000.0
5   40315000006   Aquila  29.0         4.0     Management       2   70000.0
6   40315000007  Hufriya   NaN         6.0  Communication       3   80000.0
7   40315000008    Hasti  33.0         8.0         Design       5       NaN
8   40315000009   Paarth  37.0        12.0         Python       7  130000.0
9   40315000010   Simran  31.0         5.0           Java       3   75000.0
10  40315000011     Jeet  29.0         NaN            SQL       4   85000.0
11  40315000012    Mayin  34.0         9.0          Excel       6   95000.0
12  40315000013   Justin  36.0        11.0            C++       7  105000.0
13  40315000014   Janavi  27.0         3.0     Management       2   68000.0
14  40315000015   Gaurav  38.0        14.0  Communication       9  115000.0
15  40315000016    Aryan  30.0         6.0         Design       4   78000.0
16  40315000017    Rudra  41.0        16.0         Python      12  140000.0
17  40315000018   Kapish  32.0         7.0           Java       3   80000.0
18  40315000019   Dhruvi  39.0        13.0            SQL       8  125000.0
19  40315000020    Kavya  28.0         4.0          Excel       2   68000.0
20  40315000021  Vaibhav  35.0        10.0            C++       7  102000.0
21  40315000022    Rajat  30.0         5.0     Management       3   76000.0
22  40315000023    Keyur  33.0         8.0  Communication       6   95000.0
23  40315000024   Ashwin  36.0        12.0         Design       7  110000.0
24  40315000025  Kashish   NaN         NaN         Python       5       NaN
25  40315000026    Adiba  40.0        15.0           Java      10  130000.0
26  40315000027    Amaan  29.0         5.0            SQL       3   77000.0
27  40315000028    Aditi  34.0         9.0          Excel       6   98000.0
28  40315000029   Arushi  38.0        12.0            C++       8  125000.0
29  40315000030   Anurag  31.0         6.0     Management       4   82000.0

   Date_of_Joining
0        7/10/2018
1        3/15/2019
2        5/20/2015
3       11/30/2010
4        6/25/2016
5         1/5/2020
6        8/14/2017
7         9/9/2014
8        4/17/2013
9       12/12/2018
10      10/10/2019
11        7/7/2015
12        2/2/2014
13        5/5/2021
14        3/3/2012
15      11/11/2017
16        9/9/2011
17        6/6/2018
18      12/12/2013
19        3/3/2020
20      10/10/2015
21        1/1/2019
22        8/8/2016
23        4/4/2014
24        5/5/2018
25        7/7/2012
26        9/9/2019
27      11/11/2015
28        8/8/2013
29        2/2/2017

In [48]:
df['Date_of_Joining'] = pd.to_datetime(df['Date_of_Joining'], format='%Y-%m-%d', errors='coerce')
df.fillna({'Salary': df['Salary'].mean(), 'Age': df['Age'].median(), 'Skills': df['Skills'].mode()[0]}, inplace=True)
print("Handled missing values")

Handled missing values

In [49]:
print("Duplicate rows:")
print(df[df.duplicated()])

Duplicate rows:
Empty DataFrame
Columns: [SAP_ID, Name, Age, Experience, Skills, Tenure, Salary, Date_of_Joining]
Index: []

In [50]:
df['SAP_ID'] = df['SAP_ID'].astype(str)

In [51]:
mean_salary = df['Salary'].mean()
std_salary = df['Salary'].std()
print(f"Average Salary: {mean_salary}")
print(f"Standard Deviation of Salary: {std_salary}")

Average Salary: 95321.42857142858
Standard Deviation of Salary: 21500.687352971912

In [52]:
df['score'] = (df['Salary'] - mean_salary) / std_salary
outliers = df[df['score'] > 3]
print("Outliers:")
print(outliers)

Outliers:
Empty DataFrame
Columns: [SAP_ID, Name, Age, Experience, Skills, Tenure, Salary, Date_of_Joining, score]
Index: []

In [58]:
print(f"Skills with salary > 1L: {df.loc[df['Salary'] > 100000, 'Skills'].unique()}\n")

Skills with salary > 1L: ['SQL' 'Excel' 'Python' 'C++' 'Communication' 'Design' 'Java']

In [54]:
print(df.describe(include='all'))

             SAP_ID    Name        Age  Experience  Skills     Tenure  \
count            30      30  30.000000   28.000000      30  30.000000
unique           30      30        NaN         NaN       8        NaN
top     40315000001  Ashika        NaN         NaN  Python        NaN
freq              1       1        NaN         NaN       4        NaN
mean            NaN     NaN  33.366667    8.571429     NaN   5.433333
min             NaN     NaN  27.000000    3.000000     NaN   2.000000
25%             NaN     NaN  30.000000    5.000000     NaN   3.000000
50%             NaN     NaN  33.000000    8.000000     NaN   5.000000
75%             NaN     NaN  36.000000   12.000000     NaN   7.000000
max             NaN     NaN  41.000000   16.000000     NaN  12.000000
std             NaN     NaN   3.978245    3.910372     NaN   2.750340

               Salary Date_of_Joining         score
count       30.000000               0  3.000000e+01
unique            NaN             NaN           NaN
top               NaN             NaN           NaN
freq              NaN             NaN           NaN
mean     95321.428571             NaT -3.811766e-16
min      65000.000000             NaT -1.410254e+00
25%      77250.000000             NaT -8.405047e-01
50%      95000.000000             NaT -1.494969e-02
75%     110000.000000             NaT  6.827024e-01
max     140000.000000             NaT  2.078007e+00
std      21500.687353             NaN  1.000000e+00

In [55]:
print("Missing Values in each column:")
print(df.isnull().sum())

Missing Values in each column:
SAP_ID              0
Name                0
Age                 0
Experience          2
Skills              0
Tenure              0
Salary              0
Date_of_Joining    30
score               0
dtype: int64

In [56]:
print("Number of outliers:", len(outliers))

Number of outliers: 0

In [57]:
le = LabelEncoder()
df['Skills_encoded'] = le.fit_transform(df['Skills'].astype(str))
print("Mapping of Skills to numeric codes:")
print(df[['Skills', 'Skills_encoded']].drop_duplicates().sort_values('Skills_encoded'))

Mapping of Skills to numeric codes:
          Skills  Skills_encoded
4            C++               0
6  Communication               1
7         Design               2
3          Excel               3
1           Java               4
5     Management               5
0         Python               6
2            SQL               7